/* @media(min-width:768px){
    #img-none{
        height: 190px;
        position:relative;
         margin-top:150px;   
      
        
    }
    
        #text-size2{
        position:relative;
        bottom:30px;
            font-size: 30px;
            
        }

    #navy{
    display:block;
    color: white;
    
        
    }
     
#ds-none{
display:none;

    
}

    
    } */